.projectSection {
    margin: 0 auto;

    max-width: var(--section-width);
    min-height: 100vh;

    padding: 2rem 0rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-weight: 400;
        font-size: var(--font-size-fluid-3);

        filter: var(--text-glow);
    }

    p {
        opacity: 0.7;
        margin-top: 0.5rem;
    }
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1.25rem;

    width: 100%;

    margin: 4rem 0rem 2rem;
}