:root {
    --text: hsl(240, 8%, 90%);

    --primary-300: hsl(240, 8%, 40%);
    --primary-400: #2a2a31;
    --primary-500: #212126;
    --primary-600: #050505;

    --hindi-font: "Yatra One", serif;

    --section-width: min(62rem, 90vw);

    --transition-delay: 0.3s ease-in-out;

    --text-glow: drop-shadow(0 0 1rem hsla(240, 8%, 90%, 0.5))
        drop-shadow(0 0 0.25rem hsla(240, 8%, 90%, 0.75));

    background: var(--primary-600);
    color: var(--text);

    font-family: "Outfit", serif;

    img {
        user-select: none;
    }

    *::selection {
        --project-background: rgb(var(--projectColor), 1);
        --select-background: hsl(0, 0%, 75%);

        background: var(--project-background, var(--select-background));
        color: #000;

        filter: initial !important;
    }
}

// MDX Styles
.mdx-heading {
    color: var(--text);
    text-decoration: none;

    scroll-margin-top: 5rem;

    &::after {
        content: " #";
        font-size: 75%;

        opacity: 0;
        color: rgb(var(--projectColor), 1);

        transition: opacity 0.15s ease-in-out;
    }

    &:hover {
        &::after {
            opacity: 0.75;
        }
    }
}

.mdx-image {
    border-radius: 1rem;
}

.mdx-blockquote {
    min-width: 100%;

    background: rgb(var(--projectColor), 0.025);

    border-radius: 1rem;
    border: 0.1rem solid rgb(var(--projectColor), 0.25);
    border-left: 0.5rem solid rgb(var(--projectColor), 0.5);

    position: relative;
    overflow: hidden;

    scroll-margin-top: 5rem;

    &::before {
        content: "";
        position: absolute;
        inset: 0 0;

        opacity: 0.5;
        background: var(--noise-5);
        filter: var(--noise-filter-5);
        background-size: contain;

        mix-blend-mode: overlay;

        z-index: -1;
    }
}

.mdx-col-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}
